@import "fonts";
@import "icons";

$fontFamily: "Gilroy";
$fontSize: 16;

$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;
$md5: 300;


$mainColor: #3A3A3A;
$orangeColor: #E89F71;
$grayColor: #898989;
$darkGreyColor: #616161;

@import "nullStyle";
@import "ui";

body {
    font-family: $fontFamily;
    font-size: $fontSize + px;
    color: $mainColor;
    overflow-x: hidden;

    &._lock {
        // overflow: hidden;
    }
}

@import "header";
@import "sidebar";
@import "footer";


.main {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.page {
    flex: 1 1 auto;
    // .page__main-slider

    &__main-slider {
    }

    // .page__advantages

    &__advantages {
    }

    // .page__products

    &__products {
    }
}

// Main Slider
.main-slider {

    // .main-slider__info

    &__info {

        @media (max-width: ($md1+px)) {
            position: relative;
            flex: 1 1 auto;
            order: 2;
            margin-top: 40px;
        }

        @media (min-width: ($md1+px)) {
            position: absolute;
            top: 140px;
            left: 101px;
            max-width: 495px;
            max-height: 554px;
        }

        z-index: 10;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 60px;

        @media (max-width: ($md3+px)) {
            padding: 5px;
        }
    }

    // .main-slider__title

    &__title {
        font-family: 'Gilroy';
        font-weight: 700;
        font-size: 56.1556px;
        line-height: 120%;
        color: #3A3A3A;
        margin-bottom: 16px;

        @media (max-width: ($md3+px)) {
            font-size: 30.1556px;
        }
    }

    // .main-slider__describes

    &__describes {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 20.0556px;
        line-height: 150%;
        color: #898989;
        margin-bottom: 48px;
    }

    // .main-slider__button

    &__button {
        flex: 1 1 auto;
        background-color: $orangeColor;
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: center;
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 20.0556px;
        line-height: 150%;
        color: #FFFFFF;
    }

    background-color: #FCF8F3;

    // .main-slider__container

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;

        @media (min-width: ($md2+px)) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 100vw;
                right: 376px;
                height: 100%;
                background-color: #F9F1E7;
            }
        }
    }

    // .main-slider__body

    &__body {
        padding-top: 140px;
        padding-left: 307px;
        position: relative;
        z-index: 2;

        @media (max-width: ($md1+px)) {
            padding-left: 60px;
        }

        @media (max-width: ($md2+px)) {
            padding-top: 80px;
            padding-left: 0;
        }

        @media (max-width: ($md3+px)) {
            padding-top: 50px;
        }

        @media (min-width: ($md2+px)) {
            display: flex;
        }
    }

    // .main-slider__content

    &__content {
        flex: 0 0 494/1240 * 100%;
    }

    // .main-slider__slider

    &__slider {
        
    }
}


.content-main {
    position: relative;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.72);
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: ($md2+px)) {
        padding: 60px;
        background: rgba(255, 255, 255, 0.9);

        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.9);
            background-filter: blur(31px);
        }
    }

    // .content-main__title

    &__title {
        font-size: 56px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 16px;

        @media (max-width: $md1+px) {
            font-size: 26px;
        }
    }

    // .content-main__text

    &__text {
        font-size: 20px;
        color: $grayColor;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 48px;
    }

    // .content-main__button

    &__button {
        padding: 0 auto;
        width: 100%;
        color: #ffffff;
        font-weight: 500;
        min-height: 78px;
        font-size: 20px;
        background-color: $orangeColor;

        @media (any-hover: hover) {
            &:hover {
                background-color: orange;
            }
        }
    }
}
.slider-main {
    display: flex;
    flex-direction: column;

    // .slider-main__controls

    &__controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .slider-main__body

    &__body {
        
    }

    // .slider-main__inner

    &__inner {
    }

    // .slider-main__slide

    &__slide {
        position: relative;
        max-width: 901px;
        width: 100%;
        

        &._active {

            @media (min-width: ($md1+px)) {
                transform: scale(1.04);
            }

            .slider-main__content {
                transform: scale(1);
            }
        }

        @media (max-width: ($md2+px)) {
            max-width: 100%;
        }
    }

    &__slide img {
        max-width: 100%;
    }

    // .slider-main__content

    &__content {
        color: inherit;
        display: flex;
        transform: scale(0);
        flex-direction: column;
        padding: 24px;
        background: rgba(255, 255, 255, 0.9);
        @media (min-width: $md3+px) {
            position: absolute;
            min-width: 350px;
            right: 40px;
            bottom: 40px;
        }

        @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
            background: rgba(255, 255, 255, 0.9);
            background-filter: blur(31px);
        }
    }

    // .slider-main__title

    &__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 4px;
    }

    // .slider-main__text

    &__text {
        line-height: 150%;
        margin-bottom: 8px;
        color: $grayColor;
    }

    // .slider-main__price

    &__price {
        display: flex;
        flex-direction: row-reverse;
        line-height: 150%;
        align-items: center;
        font-weight: 600;
        justify-content: space-between;
        font-size: 20px;
        &::before {
            margin-left: 10px;
            font-size: 12px;
        }
    }
}
.controls-slider-main {
    margin-bottom: 20px;

    // .controls-slider-main__dots

    &__dots {
        display: flex;
        align-items: center;

        @media (min-width: ($md1+px)) {
            margin-left: 300px;
        }
    }

    &__dot {
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease 0s;
        position: relative;
        &:not(:last-child) {
            margin-right: 4px;
        }

        &::after {
            content: '';
            width: 11px;
            height: 11px;
            background-color: #D8D8D8;
            border-radius: 50%;
            transition: all .3s ease 0s;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid $orangeColor;
            transition: all .3s ease 0s;
            border-radius: 50%;
            transform: scale(0);
        }
    }

    // .controls-slider-main__dot--active

    &__dot--active {
        &::before {
            transform: scale(1);
        }

        &::after {
            background-color: $orangeColor;
        }
    }

    // .controls-slider-main__arrows

    &__arrows {

    }
}

// Advantages
.advantages {
    padding: 88px 0;

    // .advantages__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: ($md2+px)) {
            justify-content: center;
        }
    }

    // .advantages__item

    &__item {
        display: inline-grid;
        padding: 15px 0;
        grid-template: auto auto / 85px 1fr;

        @media (max-width: ($md2+px)) {
            min-width: 280px;
        }

        @media (max-width: ($md3+px)) {
            grid-template: auto auto / auto 1fr;
        }
    }

    // .advantages__icon

    &__icon {
        text-align: center;
        align-self: center;
        grid-row: span 2;
        @media (max-width: ($md3+px)) {
            padding: 0 15px 0 0;
        }

        & img {
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }

    // .advantages__title

    &__title {
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 18.05px;
        line-height: 150%;
        color: #3A3A3A;
    }

    // .advantages__text

    &__text {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 16.0444px;
        line-height: 150%;
        color: #898989;
    }
}


// Products
.products {
    padding-bottom: 44px;

    // .products__container

    &__container {
    }

    // .products__title

    &__title {
        margin-bottom: 32px;
    }

    // .products__items

    &__items {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    }

    // .products__item

    &__item {
    }
}

.item-product {
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    position: relative;

    // .item-product__labels

    &__labels {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        right: 24px;
        top: 24px;
    }

    // .item-product__label

    &__label {
        flex: 0 0 48px;
        width: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 500;

        &:not(:last-child) {
            margin: 0 0 10px 0;
        }

        
    }

    // .item-product__label--sale

    &__label--sale {
        background-color: #e97171;
    }

    &__label--new {
        background-color: #2ec1ac;
    }

    // .item-product__image

    &__image {
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .item-product__body

    &__body {
        flex: 1 1 auto;
        padding: 16px 16px 30px 16px;
        display: flex;
        flex-direction: column;
    }

    // .item-product__content

    &__content {
        flex: 1 1 auto;
    }

    // .item-product__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 8px;
    }

    // .item-product__text

    &__text {
        color: $grayColor;
        line-height: 150%;
        margin-bottom: 8px;
    }

    // .item-product__prices

    &__prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    // .item-product__price

    &__price {
        font-size: 20px;
        font-weight: 600;
    }

    // .item-product__price--old

    &__price--old {
        font-size: 16px;
        font-weight: normal;
        margin-left: 16px;
        color: #b0b0b0;
    }

    // .item-product__actions

    &__actions {
        display: none;
    }
}
.actions-product {

    // .actions-product__body

    &__body {
    }

    // .actions-product__button

    &__button {
    }

    // .actions-product__link

    &__link {
    }
}
.btn {

    // .btn__white

    &__white {
    }
}




